table tr td img{
    height:200px;
    width:200px;

}
.centered {
    display: flex;
    justify-content: center;
}




.background-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}